/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}
/*============ Blog section css =============== */
.section-padding {
    padding:80px 0;
    position:relative;
    z-index:1;
}
.section-part-heading {
   text-align:center;
   margin:50px 0 20px;
}
.section-part-heading h2{
    text-transform:uppercase;
}
.section-bg-1,
.section-bg-2,
.section-bg-3,
.section-bg-4 {
    margin:50px 0;
    position:relative;
}
.section-bg-1:after,
.section-bg-2:after,
.overlay-bg-1,
.overlay-bg-2 {
    content:"";
    background-image:url(../img/background1.jpg);
    background-size:cover;
    background-position:center center;
    position:absolute;
    top:0;
    right:0;
    width:60%;
    height:100%;
    z-index:-1;
}
.section-bg-2:after,
.overlay-bg-2  { 
    background-image:url(../img/background2.jpg);
    right:auto; 
    left:0;
}
.overlay-bg-1 {
    background-image:url(../img/background1.jpg);
}
.overlay-bg-2 {
    background-image:url(../img/background2.jpg);
} 
.overlay:after {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index:-1;
    background:#000;
    opacity:0.7;
}
.single-box-content {
    text-align: center;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 4px #ddd;
} 
.single-box-content p {
    opacity: 0.9;
    color: #999;
} 
.single-box-content h3 {
    font-size: 20px;
}
a.bx-btn {
    background: #FAA523; 
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}


 