@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
a:hover{
	text-decoration: none;
}

.header-top {
    background-color: #0B0B0B;
    padding: 13px 0;
}

.header-top, header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 5px;
}

.social-link a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.social-link i.fa {
    padding-right: 0px;
    color: #fff;
}

.social-link {
    display: inline-block;
    padding-left: 25px;
}

.social-link a:hover {background-color: #fc721e;border-color: #fc721e;}


.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #444;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #0b0b0b;
    padding: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.main-menu li:hover > a{
	border: 1px solid #fc721e;
}
.header-bottom{
	padding: 15px 0;
}