/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}


.wellcome-area { background-image: url(../img/background1.jpg);}


.header-area {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    padding: 20px;
    display: block;
}

.header-area a {
    color: #333;
}

.social-icon {
    border-left: 1px solid #fff;
    padding-left: 15px;
}

.social-icon a {
    padding: 25px 15px;
    display: inline-block;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 10px 0;
}

.logo span {
    color: #0AA8BD;
}

html,body {
    height: 100%;
}

.wellcome-area{
    height: 100%;
    position: relative;
    z-index: 2;
}

.wellcome-area-table {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.wellcome-area-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #333;
}

.wellcome-area-inner h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.wellcome-area-inner
 h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #fff;
}
.wellcome-area-inner p{
    text-transform: uppercase;
    color: #fff;
}
.video-play-btn {
    height: 40px;
    width: 40px;
    background: #fff;
    display: inline-block;
    line-height: 40px;
    color: #333;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 50%;
    padding-right: 0px;
}

.header-area.header-absulate-area {
    position: fixed;
    z-index: 3;
    width: 100%;
    border: none;
}
.header-area.header-absulate-area:after ,.social-icon:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px ;
    width: 100%;
    content: "";
    background: #fff;
    opacity: .3;
}
.header-area.header-absulate-area .social-icon {
    position: relative;
    border: none;
}
.header-area.header-absulate-area .social-icon:before{
    height: 100%;
    width: 1px;
} 
.header-area.header-absulate-area a {
    color: #fff;
}

.wellcome-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .5;
}
.wellcome-area-text{
    max-width: 800px;
    margin: 0 auto;
}