@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
    color: #333;
    line-height: 1.8;

}
a:hover{
	text-decoration: none;
}
.space-90{
    height: 90px;
}
/* == Header Area ==*/
.header-top {
    background-color: #0B0B0B;
    padding: 13px 0;
}

.header-top, header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 5px;
}

.social-link a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.social-link i.fa {
    padding-right: 0px;
    color: #fff;
}

.social-link {
    display: inline-block;
    padding-left: 25px;
}

.social-link a:hover {background-color: #fc721e;border-color: #fc721e;}


.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #444;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #0b0b0b;
    padding: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.main-menu li:hover > a{
	border: 1px solid #fc721e;
}
.header-bottom{
	padding: 15px 0;
}

/* ====Slider area style=== */

.Slide-bg-1{background-image: url(../img/slider.jpg);}

.single-slider-item {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    line-height: 2;
}

.single-slider-item:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #050505;
    z-index: -1;
    opacity: .8;
}

.single-slider-item .d-table-cell {
    vertical-align: middle;
}

.single-slider-item h2 {
    font-size: 60px;
    margin-bottom: 12px;
}

.boxed-btn {
    display: inline-block;
    background: #fc721e;
    border: 1px solid #fc721e;
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}

.boxed-btn.border-btn {
    background-color: transparent;
    border-color: #fff;
}

.slide-button {
    margin-top: 20px;
}

.slide-button a {
    margin-right: 6px;
}

/* ====Owl Carousel  style=== */
.slider-area .owl-dots div {
    height: 25px;
    width: 1px;
    background-color: #fff;
    display: inline-block;
    margin-left: 8px;
}

.slider-area .owl-dots {
    position: relative;
    left: 0;
    width: 1110px;
    top: -60px;
    margin: 0 auto;
}
.slider-area{
    margin-bottom: -35px;
}
.slider-area .owl-dots div.active {
    height: 32px;
    background-color: #FC721E;
}


/* ====End Owl Carousel style=== */

/* ====End Slider area style=== */

/* ====Service-box  style start === */
.service-1{background-image: url(../img/service-1.jpg);}
.service-2{background-image: url(../img/service-2.jpg);}
.service-3{background-image: url(../img/service-3.jpg);}

.service-box-bg {
    background-color: #ddd;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.single-service-box {
    position: relative;
    text-align: center;
    transition: .3s;
}
.service-box-content {
    border: 1px solid #d1cfcf;
    padding: 15px;
    padding-top: 50px;
}

.service-box-title {
    position: absolute;
    top: 166px;
    width: 100%;
}

.service-box-title h2 {
    width: 80%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #fc721e;
    margin: 0 auto;
    padding: 20px;
}

.service-btn {
    color:#0c0c0c;
    font-weight:900;
    transition:0.3s;
    font-size: 16px;
}
.service-btn:hover {
    color:#FC721E;
}
.service-btn i.fa {
    margin-left: 5px;
}

.single-service-box:hover {
    box-shadow: 0 0 15px #ddd;
}
.section-padding {
    padding: 90px 0;
}

.section-padding.padding-bottom-0 {
    padding-bottom: 0;
}
/* ====Service-box  style End=== */

/* ====About  style start=== */
.section-padding.section-gray {
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
}

.bodered-img {
    position: relative;
}

.bodered-img:before,.bodered-img:after {
    position: absolute;
    left: 0;
    top: 15%;
    height: 70%;
    width: 3px;
    content: "";
    background: #fc721e;
}

.bodered-img:after {
    left: auto;
    right: 0;
}

.about-text {
    padding: 30px 0;
}
/* ====About  style End=== */