/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}
.product-bg-1{background-image: url(../img/model1.jpg);}
.product-bg-2{background-image: url(../img/model2.jpg);}
.product-bg-3{background-image: url(../img/model3.jpg);}
.product-bg-4{background-image: url(../img/model4.jpg);}
.product-bg-5{background-image: url(../img/model5.jpg);}

.section-title {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.product-bg {
    background-size: cover;
    background-color: #ddd;
    background-position: center top;
    height: 300px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.ticker {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.ticker-greern {
    background: #2AB79D;
}

.ticker-red {
    background: #F4504C;
}
p.product-price span {
    padding: 20px;
    text-decoration: line-through;
}
.pruduct-bottom-hover {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    bottom: -14px;
    background: #fff;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.pruduct-bottom-hover
 a {
    display: block;
    float: left;
    width: 33.33333%;
    border-left: 1px solid #ededed;
    border-top: 1px solid #ededed;
    text-align: center;
    padding: 13px;
    color: #333;
}

.pruduct-bottom-hover a:hover {
    background-color: #333;
    color: #fff;
}


.single-product-box {
    text-align: center;
}

.single-product-box h4 {
    font-size: 15px;
    font-weight: 500;
}

p.product-price {
    margin: 0;
    font-size: 110%;
    font-weight: 700;
}

.single-product-box:hover .pruduct-bottom-hover {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}
.product-carousel .owl-nav div {
    height: 30px;
    width: 30px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 28px;
    font-size: 18px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -47px;
    opacity: .5;
}

.product-carousel .owl-nav div.owl-next {
    left: auto;
    right: -30px;
}