/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}

.section-title h2 {
    position: relative;
    z-index: 1;
    font-size: 35px;
    color: #333;
}

.section-title h2:before {
    position: absolute;
    left: -12px;
    top: 0;
    height: 100%;
    content: "";
    width: 5px;
    background: #FEDD03;
}

.section-padding {
    margin-top: 50px;
}

body {
    font-size: 16px;
    color: #737373;
    line-height: 1.5;
}

.single-service-box {
    margin-bottom: 40px;
}

.service-icon {
    color: #FEDD03;
    font-size: 50px;
}

.single-service-box h3 {color: #464D93;}

.border-box {
    border: 7px solid yellow;
    padding: 40px;
    margin-left: 30px;
    margin-top: 100px;
    margin-right: 100px;
    position: relative;
}

.border-box-img {
    margin-top: -140px;
    margin-bottom: 40px;
    margin-right: -140px;
    width: 470px;
    max-width: 145%;
}

.border-box-readmore {
    position: absolute;
    transform: rotate(270deg);
    text-transform: uppercase;
    color: #268BD2;
    font-weight: 700;
    font-size: 18px;
    bottom: 45px;
    right: -100px;
}



a.border-box-readmore i.fa {
    margin-right: 9px;
}