/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}

.section-bg-1 {
    background-image:url(../img/back.jpg);
}
.single-service-bg-1 {background-image:url(../img/bg-1.jpg)}
.single-service-bg-2 {background-image:url(../img/bg-2.jpg)}
.single-service-bg-3 {background-image:url(../img/bg-3.jpg)}
.single-service-bg-4 {background-image:url(../img/bg-4.jpg)}
.single-service-bg-5 {background-image:url(../img/bg-5.jpg)}
.single-service-bg-6 {background-image:url(../img/bg-6.jpg)}
.single-service-bg-7 {background-image:url(../img/bg-7.jpg)}
.single-service-bg-8 {background-image:url(../img/bg-8.jpg)}
 
.section-padding {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.section-overlay:after,.single-service-box:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #F3C756;
    opacity: .8;
    z-index: -1;
}
.single-service-box:after{
    background-color: #113340;
}
.single-service-box {
    display: table;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    text-align: center;
    background-position: center;
    background-size: 150%;
    background-color: #113340;
    transition: .3s;
}
.single-service-box:hover{
    background-size: 200%;
}
.single-service-box:hover:after{
    opacity: .5;
}
.service-box-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    text-transform: uppercase;
}

.service-box-inner h2 {
    color: #fff;
}



