/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}

.service-box-bg-1{background-image:url(../img/iphone.jpg);}
.service-box-bg-2{background-image:url(../img/main.png);}
.service-box-bg-3{background-image:url(../img/album.jpg);}

.service-box-bg {
    background-size: cover;
    background-position: center;
    height: 220px;
    background-color: #ddd;
}

.service-box-inner {
    border: 1px solid #f3f3f3;
    border-top: 0px;
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.single-service-box {
    position: relative;
}

.service-box-more-wrap {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

.service-box-inner h3 {
    font-size: 20px;
}

p.service-meta {
    opacity: .5;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

a.border-btn {
    display: inline-block;
    border: 1px solid #f3f3f3;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #fff;
}