/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

.header-area{
    padding :80px 0;
    background-color:  #b61924;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.header-area h2{
    font-size: 40px;
    margin-bottom: 40px;
}
#particles-js canvas{
    position: absolute;
    left: 0;
    top:0;
    z-index: 9;
    height: 100%;
    width: 100%;
    
}