/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}
.section-title-top h2 {
    color: #39CCFD;
    text-transform: uppercase;
    font-size: 35px;
}

.section-title-sep {
    position: relative;
    height: 2px;
    width: 300px;
    background: #39CCFD;
    margin: 0 auto 35px;
}

.section-title-sep:after {
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 70px;
    height: 5px;
    background: #39CCFD;
    content: "";
    margin-left: -35px;
    z-index: 1;
}

body {
    background-color: #F5F5F5;
}

.section-title-top {
    margin-bottom: 30px;
}

.single-team-box {
    background: #fff;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
}

.single-team-box img {
    max-width: 100%;
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
}

.team-description span {
    color: #1BC7F8;
    font-size: 25px;
}
.team-description{
        border-top:10px;

}


.single-team-box h4 {
    color: #1BC7F8;
    margin-top: 10px;
}

.single-team-box h4 span {
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 0;
}

.team-carousel .owl-nav div {
    position: absolute;
    height: 35px;
    width: 35px;
    background: #11C4FC;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    border-radius: 50%;
    left: -70px;
    top: 50%;
    margin-top: 17.5px;
}

.team-carousel .owl-nav div.owl-next {
    left: initial;
    right: -70px;
}