/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}
.section-padding{
    margin: 150px 0;
    padding: 50px;
}
.section-padding.section-dark-bg {
    color: #949494;
    background-color: #000;
}

body {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
}

.section-dark-bg h1 {
    font-size: 100px;
    font-weight: 800;
    color: #fff;
}

.section-dark-bg h4 {
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boxed-btn {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid;
    font-size: 15px;
    display: inline-block;
    padding: 12px 30px;
    margin-top: 30px;
}

.boxed-btn:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
}

.absulate-img {
    margin-top: -150px;
}