/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    
}
.welcome-area {
    background: rgb(143,57,254);
    padding: 150px 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: -moz-linear-gradient(45deg, rgba(143,57,254,1) 0%, rgba(95,31,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(143,57,254,1) 0%,rgba(95,31,255,1) 100%);
    background: linear-gradient(45deg, rgba(143,57,254,1) 0%,rgba(95,31,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f39fe', endColorstr='#5f1fff',GradientType=1 );
}  
.welcome-area:before,
.welcome-area:after {
    position: absolute;
    top: 30%;
    left: -18%;
    width: 650px;
    height: 650px;
    content: "";
    background: #A04EFF;
    z-index: -1;
    opacity: 0.3;
    border-radius: 500px;
}
.welcome-area:after { 
    top: 16%;
    right: -25%;  
    left:auto;
    background: #7441FF;  
}

.logo {
    width: 60px;
    height: 60px;
    border:3px solid #2ab8fd; 
    border-left: 3px solid GradientType;
    border-radius: 500px;
    text-align: center;
    margin: 20px 0;
    line-height: 54px;  
}  
.logo-text { 
    font-size: 30px; 
} 

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.main-navigation li {
    display: inline-block;
} 
.main-navigation li a { 
    display: block; 
    font-weight: 900;
    padding:36px 20px;
} 
.header-area a {
    color: #565049;
}
.header-area.header-area-fixed {
    position: absolute;
    width: 100%;
    z-index:2;
} 
.header-area-fixed a{
    color: #fff; 
}
.header-area-fixed .main-navigation a {
    opacity:0.7;
}
.buy-button { 
    position: relative;
    padding:36px 20px;
} 
.buy-button:after {
    position: absolute;
    top: 50%;
    left:5px;
    height: 3px;
    width: 30px;
    content: "";
    background: #17AA95;
    opacity:0.5;
}
.buy-btn {
    font-weight: 600;
}   
/* wecome promo area */ 
.welcome-promo {
    color: #fff;
    position: relative;
    margin-bottom:50px;
}
.welcome-promo h1 {
    font-size: 60px; 
} 
.welcome-promo p {
    opacity: 0.7;
    font-size: 16px;
}
.underline-text {
    border-bottom:2px solid #9C59FF;
} 
.promo-view-right {
    position: absolute;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
}
.display-table {
    display: table;
    height: 100%;
} 
.vertical-middle {
    display: table-cell;
    vertical-align: middle; 
} 
.btn-right {
    border: 2px solid #9B72FF;
    padding: 30px 150px;
    border-radius: 500px;
    color: #ddd;
    font-size: 13px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-right:hover {
    color:#E6E6E6;
}
.btn-right:before {
    position: absolute;
    content: "";
    border-width: 10px;
    top: 38%;
    left: 25%;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}
/* silgle item */
.single-items {
    color: #fff;
}

.single-items span {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
    opacity:0.5;
}
.single-items h4 {
    font-weight: 300;
}

.single-items p {
    opacity: 0.5;
}

