/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}
.section-padding{
    margin-top: 80px;
    padding:20px 0;
    border-width:1px  1px;
    border-style:dashed;
    border-color:#ddd;
    min-height:300px;
   
} 
.section-padding h2{
    color: #4A4A4A;
    font-size: 20px;
    padding:0 100px ;
    text-transform: uppercase;
}
/*----manu----*/
.main-menu ul {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    color: #333;
    display: block;
    padding: 15px;
}
/*----Dropdown menu---*/
.main-menu li {
    position: relative;
}

.main-menu li ul {
    position: absolute;
    left: 0;
    width: 250px;
    background: #000;
    padding: 15px 0;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
   transform:scale(.5);
}

.main-menu li ul li {
    display: block;
}

.main-menu li ul li a {
    padding: 10px 15px;
    color: #999;
}

.main-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    transform:scale(1); 
}

.main-menu li:hover > a {
    color: red;
}

.main-menu li:hover li:hover > a {
    background-color: #EB2663;
    color: #fff;
}



.main-menu.effect-2 li ul {
    -webkit-transform:scale(0) rotate(90deg);
    transform:scale(0) rotate(90deg);
}
.main-menu.effect-2 li:hover ul {
    -webkit-transform:scale(1) rotate(0deg);
    transform:scale(1) rotate(0deg);
}
.main-menu.effect-3 li ul {
    top:0%;
    -webkit-transform:rotateY(90deg);
    transform:rotateY(90deg);
}
.main-menu.effect-3 li:hover ul {
    top:100%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.main-menu.effect-4 li ul {
    -webkit-transform:translateX(-150px) rotateY(90deg);
    transform:translateX(-150px) rotateY(90deg);
}
.main-menu.effect-4 li:hover ul {
    -webkit-transform:translateX(0px) rotateY(0deg);
    transform:translateX(0px) rotateY(0deg);
}
/* effect 6*/
.main-menu.effect-5 li ul {
    -webkit-transform:translateY(-50px) rotateX(90deg) ;
    transform:translateY(-50px) rotateX(90deg) ;
}
.main-menu.effect-5 li:hover ul {
    -webkit-transform:translateY(0px) rotateX(0deg) ;
    transform:translateY(0px) rotateX(0deg) ;
}

