/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}
.slide-bg-1 {background-image: url(../img/background1.jpg);}
.slide-bg-2 {background-image: url(../img/background2.jpg);}
.slide-bg-3 {background-image: url(../img/background3.jpg);}

.boxed-btn, .wellcome-area:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005997+0,0095be+100 */
background: #005997; /* Old browsers */
background: -moz-linear-gradient(left, #005997 0%, #0095be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #005997 0%,#0095be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #005997 0%,#0095be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005997', endColorstr='#0095be',GradientType=1 ); /* IE6-9 */
}

.wellcome-area {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.wellcome-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
    content: "";
    z-index: -1;
}

.logo a ,.main-menu a {
    color: #fff;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    padding: 20px 17px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.header-right-content
 a {
    color: #000;
}

.social-link {
    display: inline-block;
    margin-right: 50px;
    border: 1px solid #F8F8F8;
    padding-left: 20px;
    margin-left: 20px;
}

.social-link a {
    display: inline-block;
    padding: 0 6px;
    font-size: 14px;
}

.header-right-content {
    padding-top: 15px;
}

.header-area {
    padding: 20px;
}

.single-slide-item {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: table;
    width: 100%;
}

.slide-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.slide-text {
    color: #fff;
    max-width: 700px;
    padding: 110px;
}

h4 {}

.slide-text h4 {
    color: #82C7DC;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 9px;
}

.slide-text h2 {
    color: #000;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
}

a.boxed-btn {
    text-transform: uppercase;
    padding: 12px 30px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
}
.homepage-slides .owl-nav div {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 10px;
    opacity: .5;
}