/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}
.section-padding{
    padding: 150px 0;

}
.booking-area{background-image: url(../img/bg-1.jpg);}
.booking-area{
    
    background-size: cover;
    background-position: center;: 
}
.booking-text {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.sep-top {
    max-width: 400px;
}

.sep-bottom {
    max-width: 350px;
    margin-top: 20px;
}

.booking-text h1 {
    font-size: 100px;
    margin-top: 20px;
}

.booking-area {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 150px;
}

.booking-area:after, .booking-from-element:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .5;
}

.booking-form {
    margin-top: 30px;
}

.booking-from-element {
    position: relative;
    z-index: 1;
    font-weight: 700;
    color: #E5BE73;
    padding: 25px;
}

.booking-from-element label {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    opacity: .5;
}

.booking-from-element
 select {
    width: 100%;
    border: none;
    background: none;
}

.booking-from-element input[type=submit] {
    background: none;
    font-size: 15px;
    padding: 19px 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}