/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}
.section-padding{
    margin-top: 80px;
} 
.schedule th {
    background-color: #f0f0f0;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.schedule {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.schedule th,.schedule td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.schedule h4 {
    font-weight: 400;
}