@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
a:hover{
	text-decoration: none;
}

.header-top {
    background-color: #0B0B0B;
    padding: 13px 0;
}

.header-top, header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 5px;
}

.social-link a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.social-link i.fa {
    padding-right: 0px;
    color: #fff;
}

.social-link {
    display: inline-block;
    padding-left: 25px;
}

.social-link a:hover {background-color: #fc721e;border-color: #fc721e;}


.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #444;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #0b0b0b;
    padding: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.main-menu li:hover > a{
	border: 1px solid #fc721e;
}
.header-bottom{
	padding: 15px 0;
}

/* ====Slider area style=== */

.Slide-bg-1{background-image: url(../img/slider.jpg);}

.single-slider-item {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    line-height: 2;
}

.single-slider-item:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #050505;
    z-index: -1;
    opacity: .8;
}

.single-slider-item .d-table-cell {
    vertical-align: middle;
}

.single-slider-item h2 {
    font-size: 60px;
    margin-bottom: 12px;
}

.boxed-btn {
    display: inline-block;
    background: #fc721e;
    border: 1px solid #fc721e;
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}

.boxed-btn.border-btn {
    background-color: transparent;
    border-color: #fff;
}

.slide-button {
    margin-top: 20px;
}

.slide-button a {
    margin-right: 6px;
}

/* ====End Slider area style=== */