/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}
.section-padding{
    margin-top: 80px;
} 
h2 {
    text-transform: uppercase;
    font-size: 40px;
}
.portfolio-bg-1{background-image: url(../img/portfolio-bg-1.jpg);}
.portfolio-bg-2{background-image: url(../img/portfolio-bg-2.jpg);}
.portfolio-bg-3{background-image: url(../img/portfolio-bg-4.jpg);}
.portfolio-bg-4{background-image: url(../img/portfolio-bg-7.jpg);}
.portfolio-bg-5{background-image: url(../img/portfolio-bg-5.jpg);}


.border-icon-wrap {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: #FCDA6B;
}

.border-icon-wrap:before,.border-icon-wrap:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 2px;
    content: "";
    background: #FCDA6B;
}

.border-icon-wrap:before {
    left: -83px;
}

.border-icon-wrap:after {
    left: 60px;
}
.portfolio-item {
   
}

.single-portfolio-item {
    height: 280px;
    background-size: cover;
    background-position: center;
    color: #000;
    position: relative;
    z-index: 1;
}
.single-portfolio-item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .3;
    z-index: -1;
}
.portfolio-text {
    position: absolute;
    left: 0;
    padding: 20px;
    bottom: 0;
    width: 100%;
    color: #FCDA6B;
    font-style: italic;
    transition: .3s;
}

.portfolio-text h4 {
    color: #fff;
    font-style: normal;
    margin: 0;
}

.portfolio-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: table;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.portfolio-hover-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.portfolio-hover-inner a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #FFC634;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
}

.portfolio-hover-inner a.blue-bg {
    background: #159cf6;
}

.portfolio-hover-inner:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .5;
    z-index: -1;
}

.portfolio-hover-inner:hover .portfolio-text {
    visibility: hidden;
    opacity: 0;
}

.single-portfolio-item:hover .portfolio-text {
    visibility: hidden;
    opacity: 0;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 2;
    visibility: visible;
}

.owl-dots div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    margin: 4px;
    border-radius: 50%;
    background: #FFC634;
    
}

.owl-dots div.active {
    background-color: blue;
}
.owl-dots{
    text-align: center;
}