/* Base css */
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Vidaloka', serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Vidaloka', serif;
    font-size: 15px;
    line-height: 1.8;

}
.bg-1{background-image: url(../img/bg-1.png);}


.footer-top-area {
    background: #f4f4f4;
    padding: 60px 0;
    color: #777;
    margin-top: 200px;
}

.footer-top-area h2 {
    color: #333;
    font-size: 30px;
}


.newsletter-form input[type=email] {
    background: none;
    border: none;
    padding: 10px;
    width: 70%;
}

.newsletter-form input[type=email] {
    border-bottom: 2px solid #ddd;
}

.newsletter-form button {
    border: none;
    background: none;
    width: 29%;
}

.newsletter-form button {
    border-bottom: 2px solid #BE983D;
    padding: 10px 16px;
    color: #333;
    font-size: 18px;
}

.newsletter-form {
    margin-top: 12px;
    margin-left: 12px;
}

.footer-bottom-area {
    position: relative;
}
.copyright-text h2 {
    font-style: italic;
} 
.copyright-text p {
    color: #626262;
    font-size: 16px;
} 
.footer-menu ul {
    left: 0;
    margin: 0;
    list-style: none;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    padding-left: 30px;
    color: #333;
}

.social-link a {
  padding-left: 10px;
    color: #333;
}

.footer-menu {
    margin-bottom: 30px;
    margin-top: 20px;
}

.copyright-text {
    margin-top: 20px;
}
.styled-bg-inner {
    background-size: cover;
    background-position: center center;
    background-color: #000;
    position: absolute;
    height: 304px;
    width: 330px;
    left: 130px;
    bottom: 82px;
    box-shadow: -17px 17px 1px #F4F4F4;
}

.styled-bg {
    height: 312px;
    position: absolute;
    width: 487px;
    left: -195px;
    bottom: 0;
}

.footer-bottom-area.container {
    position: relative;
}