/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

.section-padding{
    padding: 120px 0;
}
.section-bg-1{
    background-image: url(../img/bg-1.jpg);
}
.section-bg-1 {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.section-bg-1:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    content: "";
    z-index: -1;
    opacity: .5;
}

.single-count-item i {
    font-size: 70px;
}

.single-count-item h3 {
    font-size: 50px;
    font-weight: 400;
    margin: 20px 0;
}