/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}
.newsletter-bg{background-image: url(../img/background-bg.jpg)}

.newsletter-bg h2 {
    text-transform: uppercase;
    color: #ddd;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
}

.newsletter-bg {
    position: relative;
    z-index: 1;
    color: #ddd;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-bottom: 180px;

}

.newsletter-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .3;
}

.newsletter-form input[type="email"] {
    background: #333;
    border: 1px solid #64493B;
    padding: 10px 20px;
    opacity: .6;
    width: 76%;
    border-radius: 50px;
}

.newsletter-form input[type="submit"] {
    background-color: #2AB79D;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    width: 23%;
}

.newsletter-form form {
    margin-bottom: 20px;
    font-style: normal;
}


p.newsletter-text {
    font-style: italic;
}

.bordered-box {
    overflow: hidden;
    border-right: 1px solid #ededed;
}

.single-bordered-box {
    float: left;
    width: 50%;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    text-align: center;
    padding: 50px 80px;
    min-height: 285px;
}
.bordered-box {
    overflow: hidden;
    border-right: 1px solid #ededed;
    margin-top: -160px;
    position: relative;
    z-index: 9;
    background: #FFFFFF;
}
.single-bordered-box h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.single-testimonial-box {
    font-style: italic;
    line-height: 1.6;
}

p.author-name {
    color: #000;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}

a.boxed-btn {
    background: #333333;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
}
