/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}

.single-pricing-table {
    box-shadow: 0 0 9px  #ddd;
    padding: 30px;
    border-top: 3px solid green;
    text-align: center;
    transition: .3s;
}

.section-padding {
    margin-top: 40px;
}

.pricing-price {
    background-color: #27B191;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 30px auto;
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
}

p.pricing-price-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 25px;
}

.pricing-price:after {
    position: absolute;
    left: -7%;
    top: -7%;
    width: 114%;
    height: 114%;
    content: "";
    border-radius: 50%;
    border: 3px solid #27B191;
}

.pricing-content {
    font-size: 16px;
    color: #ACACAC;
}

a.bordered-btn, .box-btn {
    display: inline-block;
    border: 2px solid #27B191;
    padding: 13px 30px;
    color: #27B191;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
}
a.bordered-btn{
    border-radius: 20px;
}
a.box-btn {
    background-color: #FF5E3E;
    color: #fff;
     border-color: #FF5E3E;
     border-radius: 20px;
}

.single-pricing-table:hover {
    transform: scale(1.1);
}
.single-pricing-table{
    border-color: #27B191;
}
.single-pricing-table.theme-2 {
    border-color: #FF5E3E;
}
.single-pricing-table.theme-3 {
    border-color: #B378F9;
}
.theme-2.single-price-item{
    border-top:3px solid #FF5E3D
}
.theme-2 .pricing-price{
    background:#FF5E3D
}
.theme-2 .pricing-price:after {
    border:2px solid #FF5E3D
}
.theme-2 .pricing-border {
     border: 2px solid #FF5E3D;
     background:#FF5E3D;
     color:#fff;
}

.theme-3 a.bordered-btn{
    border-color:#B378F9;
    color:#B378F9;
}
.theme-3.single-price-item{
    border-top:3px solid #B378F9;
}
.theme-3 .pricing-price{
    background:#B378F9
}
.theme-3 .pricing-price:after {
    border:2px solid #B378F9;
}
.theme-3 .pricing-border {
     border: 2px solid #B378F9; 
     color:#B378F9;
}

 