/* Base CSS */
.alignleft{
    float: left;
    margin-right: 15px;
}

.alignright{
    float: right;
    margin-left: 15px;
}

.aligncenter{
    display: block;
    margin: 0 auto 15px;
}

a:focus{ 
    outline: 0 solid 
}

img{
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body{

    font-family: 'Lato', sans-serif;

}

a:hover{ 
    text-decoration: none
}


.timeline-area{
    background-image: url(../img/bg1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #000;
    position: relative;
    z-index: 1;
    padding: 50px 0;
}

.timeline-area:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #043A57;
    opacity: .8;
    content: "";
    z-index: -1;
}

.section-titel{
    color: #fff;
    font-weight: 700;
    margin-bottom: 80px;
    text-transform: uppercase;
}



.timeline-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 1px solid #386478;
    padding: 3px;
}

.tileline-item{
    position: relative;
}

.tileline-item:before{
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background: #fff;
    height: 100%;
    width: 2px;
    z-index: -1;
    margin-left: -1px;
}

.single-timeline-item{
    position: relative;
    width: 150px;
    margin: 0 auto 50px;
}

.timeline-text{
    position: absolute;
    background-color: #052939;
    width: 350px;
    left: -357px;
    color: #fff;
    top: 50%;
    height: 160px;
    padding: 30px;
    margin-top: -80px;
    border-radius: 50px;
    text-align: right;
}

.timeline-text h4{
    color: #027BAF;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.timeline-text p{
    color: #A7C1D4;
    opacity: .8;
    font-size: 13px;
}

.timeline-text:before{
    position: absolute;
    border-color: transparent transparent transparent #072837;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    content: "";
    border-style: solid;
    right: -20px;
}

.single-timeline-item:nth-child(2n+2) .timeline-text{
    left: auto;
    right: -357px;
    background-color: #fff;
    text-align: left;
    color: #A7C1D4;
}

.single-timeline-item:nth-child(2n+2) .timeline-text:before{
    border-color: transparent #fff transparent transparent;
    left: -20px;
    right: auto;
}