/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    
}
.section-padding{
    padding: 80px 0;
    margin-top: 50px;

}
.special-bg-section:before{background-image: url(../img/portfolio-bg.png);}
.special-bg-section {
    background: #f3f3f3;
    border: 1px solid #ddd;
    position: relative;
    padding-left: 55%;
    padding-right: 50px;
    padding-top: 180px;
    padding-bottom: 100px;
}

a.box-btn {
    display: inline-block;
    padding: 15px 30px;
    background: #9FBF42;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.special-bg-section:before {
    position: absolute;
    left: 0;
    top: -25%;
    height: 150%;
    width: 50%;
    content: "";
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.special-bg-section:after{
    position: absolute;
    right: -40px;
    bottom: -40px;
    border: 4px solid #9FBF42;
    width: 48.5%;
    height: 100%;
    content: "";
    z-index: -2;
}