/*Medium Layout:1280px. */
@media only screen add { min-width:992px} and{max-width:1200px}{
	
}
/*Table Layout:768px. */
@media only screen add { min-width:768px} and{max-width:991px}{
	
}
/*Table+Mobile Layout:768px. */
@media only screen  and{max-width:991px}{
	.single-portfolio-item {width: 50%}
	.portfolio-list{
		margin-bottom: 368px;
	}
}

/*Mobile Layout:320px. */
@media only screen  and{max-width:767px}{
	.single-portfolio-item {width: 100%}
	.footer-area{
		position: relative;
	}
	.footer-area .col-md-3{
		margin-bottom: 40px;
	}
	.portfolio-list{
		margin-bottom: 0;
	}
	.single-portfolio-item{
		height: 430px;
	}
	.offcanvs-menu{
		width: 100%;
		right: -100%;
	}
}
/*Wide Moible Layout.480px.*/
@media only screen and {min-width:480px}  and{max-width:767px}{
	
}