/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

.section-padding{
    padding :150px 0;
}
.stethoscope-bg{background: url(../img/item.png)no-repeat scroll right bottom;}
.princing-content li:before{font-family: FontAwesome;content: "\f046"; }


.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-padding.stethoscope-bg {
    background-color: #F7F7F7;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 25px;
}

.section-title span {
    color: #20A9ED;
}

.single-princing-box {
    background: #fff;
    margin-top: 80px;
}

.stethoscope-bg .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.stethoscope-bg .row {
    margin-left: 0;
    margin-right: 0;
}

.princing-title {
    background: #1fbcd3;
    color: #fff;
    position: relative;
    padding-left: 48px;
    padding-bottom: 20px;
    padding-top: 95px;
    text-transform: uppercase;
}

.princing-ticker {
    background: #3A3D50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    top: -50px;
    position: absolute;
}

.princing-ticker span {
    color: #1fbcd3;
    font-size: 23px;
}

.color-2 .princing-title {
    background: #02A4EF;
}

.color-3 .princing-title {
    background: #24A8F2;
}

.princing-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.princing-content li:nth-child(2n+2) {
    background-color: #f5f6f8;
}

.princing-content li {
    padding: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.princing-content li:before {
    margin-right: 10px;
}

.box-btn {
    border: 1px solid #35A6F0;
    color: #35A6F0;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

.princing-btn {
    padding: 20px 25px;
}

.princing-content, .princing-btn {
    border-left:  1px solid #ddd;
}

.col-md-4:nth-child(3).princing-content, .col-md-4:nth-child(3).princing-btn {
    border-left: 1px solid #ddd;
}

.princing-btn {
    border-bottom: 1px solid #ddd;
}


