/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

.section-padding{
    padding :80px 0;
}
.portfolio-list{
    overflow: hidden;
}
.single-portfolio-item{
    float: left;
    width: 20%;
    height: 250px;
    background-size: cover;
    background-color: #333;
    background-position: center;
    position: relative;
    z-index: 1;
}
.single-portfolio-item.large{
    height: 500px;
    width: 40%;
}
.single-portfolio-item.wide{
    width: 40%;
}
.section-bg-1{background-image: url(../img/bg.jpg);}
.portfolio-bg-1{background-image: url(../img/bg-1.jpg);}
.portfolio-bg-2{background-image: url(../img/bg-2.jpg);}
.portfolio-bg-3{background-image: url(../img/bg-3.jpg);}
.portfolio-bg-4{background-image: url(../img/bg-4.jpg);}
.portfolio-bg-5{background-image: url(../img/bg-5.jpg);}
.portfolio-bg-6{background-image: url(../img/bg-6.jpg);}

.section-bg-1 {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
}

.section-bg-1:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    content: "";
    opacity: .7;
    z-index: -1;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    text-transform: uppercase;
    color: #fff;
}
.section-separation{
    width: 40px;
    height: 4px;
    background: #32BBC7;
    margin: 30px auto;
}

.single-portfolio-item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    content: "";
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

.single-portfolio-item:hover:after {
    opacity: .7;
}

.single-portfolio-item a {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    text-align: center;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.single-portfolio-item:hover a {
    opacity: 1;
    visibility: visible;
}
.single-portfolio-item i.fa {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}
