/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    
}

.service-box-hover{
    background-image: url(../img/portfolio-bg-1.jpg);
}
.section-padding {
    background-color: #efefef;
    margin-top: 50px;
}

.service-icon {
    font-size: 120px;
    opacity: 0.1;
    line-height: 120px;
    margin-bottom: 40px;
}
.hover-icon {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    text-align: center;
    margin-bottom: 20px;
}
.single-service-box:hover .hover-icon{
    opacity: 1;
    visibility: visible;
    color: #fff;
    opacity: .4;
}
.single-service-box {
    position: relative;
    z-index: 2;
    font-size: 18px;
    line-height: 1.8;
    padding: 80px 30px;
}

.single-service-box h2 {
    margin-bottom: 50px;
}

.service-box-hover {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    z-index: 1;
    transition: .3s;
}

.single-service-box:hover .service-box-hover {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
}

.service-box-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
    z-index: -1;
    opacity: .8;
}
.service-box-inner{
    position: relative;
    z-index: 3;
}
.single-service-box:hover {
    color: #eee;
}

.single-service-box:hover .service-icon {
    opacity: 1;
}