/* Base css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.8;

}

.section-padding{
    padding: 120px 0;
}
.section-bg-1{background-image: url(../img/bg-1.jpg);}

.section-bg-1 {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    color: #fff;
}

.section-blue-overlay, .section-black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background: #2D89C8;
    content: "";
    z-index: -1;
    opacity: .7;
}

.section-black-overlay {
    left: auto;
    right: 0;
    width: 60%;
    background: #333;
    opacity: .4;
}
.single-service-box {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
}

.single-service-box i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;

}
.single-service-box h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}
.section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 70px;
    position: relative;
}

.section-title h2:before {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 3px;
    width: 120px;
    background: #3879D9;
    content: "";
}

.section-title p {
    font-size: 20px;
}