/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}
body ,h2 {
    font-weight: 300;
}
.section-title {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 50px;
}
.contact-us-from {
    font-size: 15px;
    font-weight: 400;
}

p.form-element {
    position: relative;
}

p.form-element lebal {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.contact-us-from input[type=text], .contact-us-from input[type=email], .contact-us-from textarea {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    padding-top: 35px;
    font-size: 14px;
    padding-bottom: 10px;
    transition: .2s;
}

p.form-element label {
    position: absolute;
    left: 15px;
    top: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.contact-us-from textarea {
    max-height: 130px;
}

.contact-us-from input[type=submit] {
    float: right;
    background: #6D5AB0;
    color: #ddd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

p.small-text {
    font-size: 14px;
    /* text-align: center; */
    margin: 0;
    padding: 13px 0px;
}

.contact-us-from input[type=text]:focus, .contact-us-from input[type=email]:focus, .contact-us-from textarea:focus {
    background-color: #F0F0F0;
}