/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}
.author-img {
    position: relative;
}

.author-img-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    color: #555;
}

.author-img-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #ddd;
    opacity: .8;
    z-index: -1;
}

.author-img-hover-iner {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    font-weight: 300;
}

.author-img-hover-iner h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.social-link a {
    color: #919191;
    padding: 5px;
    display: inline-block;
}

.single-team-box h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.single-team-box h3 span {
    display: block;
    font-size: 70%;
    margin-top: 12px;
}
.author-img-hover-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.author-img-hover {
    transition: .3s;
    top: -100%;
    visibility: hidden;
}

.single-team-box:hover .author-img-hover {
    top: 0;
    visibility: visible;
}