/* Base css */
@font-face{
	font-family:'AsiyahScript';
    src:url('../fonts/AsiyahScript.eot');
    src:url('../fonts/AsiyahScript.eot?#iefix') format('embedded-opentype'),
     url('../fonts/AsiyahScript.woff2') format('woff2'),
	 url('../fonts/AsiyahScript.woff'),format('woff'),
     url('../fonts/AsiyahScript.ttf'),format('truetype'),
	 url('../fonts/AsiyahScript.svg#AsiyahScript'),format('svg');
    font-weight:normal;
    font-style:normal;
}
a:hover,
a:link,
a:visited{
    text-decoration:none;
}

a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 15px;
    font-weight:normal;
    font-family: 'AsiyahScript';

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}

.shadow-section{background-image: url(../img/bg-1.jpg);}
body {
    color: #4C4C4C;
    font-size: 16px;
}

.shadow-section h2 {
	font-size: 46px;
}

p.price-text {
    color: #D14768;
    font-size: 30px;
    font-weight: 700;
}

.shadow-section {
    background-size: cover;
    background-position: center top;
    color:#fff;
    padding-top: 50px;
    padding-bottom: 350px;
    position: relative;
    z-index: 1;
}
.shadow-section:after{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.shadow-section:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    
}
a.boxed-btn {
    background: #CC3459;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 40px;
}

.single-counter-item {
    background: #fff;
    box-shadow: 2px 4px 8px #f1f1f1;
    padding: 30px;
    text-align: center;
    margin: 5px;
}

.single-counter-item h2 {
    color: #CC3459;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
}

.single-counter-item i.fa {
    font-size: 55px;
    margin-bottom: 15px;
}

.counter-section {
	position: relative;
    margin: -100px;
    z-index: 1;
}