/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}


.portfolio-bg-1{background-image: url(../img/model1.jpg);}
.portfolio-bg-2{background-image: url(../img/model2.jpg);}
.portfolio-bg-3{background-image: url(../img/model3.jpg);}
.portfolio-bg-4{background-image: url(../img/model4.jpg);}
.portfolio-bg-5{background-image: url(../img/model5.jpg);}
.portfolio-bg-6{background-image: url(../img/model6.jpg);}

.single-portfolio-item:after{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5f4+1,070606+100 */
background: #f9f5f4; /* Old browsers */
background: -moz-linear-gradient(top, #f9f5f4 1%, #070606 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9f5f4 1%,#070606 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9f5f4 1%,#070606 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5f4', endColorstr='#070606',GradientType=0 ); /* IE6-9 */
}

.portfolio-list {
    overflow: hidden;
}
.single-portfolio-item {
    float: left;
    width: 33.3333%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: #000;
    position: relative;
    z-index: 2;
}

.single-portfolio-item.large-bg {
    height: 625px;
}



.portfolio-hover h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
}

.portfolio-hover {
    position: absolute;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.single-portfolio-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    z-index: -1;
    transition: .3s;
}

.single-portfolio-item:hover:after {
    opacity: .7;
}

.single-portfolio-item:hover .portfolio-hover {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/**filtering Css **/
ul.portfolio-filter {
    margin: 0;
    padding: 50px 50px;
    list-style: none;
}

ul.portfolio-filter li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}
ul.portfolio-filter li.active{
    color: green;
}
ul.portfolio-filter li, ul.portfolio-filter li:after {
    content: "/";
    padding-left: 20px;
    color: #000;
}

ul.portfolio-filter li:last-child:after{
    display: none;
}