/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
}
.section-padding{
    margin-top: 80px;
} 
.feature-bg-1{background-image: url(../img/Screenshot.png);}
.feature-bg-2{background-image: url(../img/fruits1.png);}
.feature-bg-3{background-image: url(../img/image-4.jpg);}
.feature-bg-4{background-image: url(../img/fruits2.jpg);}
.features-menu {
    margin: 0 0 100px;
    padding: 0;
    text-align: center;
    list-style: none;
}

ul.features-menu li {
    display: inline-block;
}

ul.features-menu li a {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    margin: 0 20px;
}

.single-feature-item {
    position: relative;
    display: table;
    height: 500px;
    width: 100%;
}

.feature-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
   
}
.feature-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 550px;
}

.feature-text h4 {
    font-size: 25px;
    opacity: .5;
}

.feature-text h2 {
    font-size: 25px;
    font-weight: 400;
}

body {
    font-size: 16px;
    line-height: 1.8;
}

a.boxed-btn {
    display: inline-block;
    background: #F2C400;
    color: #eee;
    padding: 15px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    margin-top: 30px;
}
ul.features-menu li.active a{
    border-color: #ffce43;
}