/* Base css */
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Muli', sans-serif;

    
}
.portfolio-bg-1{background-image: url(../img/portfolio-bg-1.jpg);}
.portfolio-bg-2{background-image: url(../img/portfolio-bg-2.jpg);}
.portfolio-bg-3{background-image: url(../img/portfolio-bg-3.png);}
.portfolio-bg-4{background-image: url(../img/portfolio-bg-4.png);}
.portfolio-bg-5{background-image: url(../img/portfolio-bg-5.jpg);}
.portfolio-bg-6{background-image: url(../img/portfolio-bg-6.jpg);}
.portfolio-bg-7{background-image: url(../img/portfolio-bg-7.jpg);}
.portfolio-bg-8{background-image: url(../img/portfolio-bg-8.png);}
.portfolio-bg-9{background-image: url(../img/portfolio-bg-9.jpg);}
.portfolio-bg-10{background-image: url(../img/portfolio-bg-10.jpg);}
.portfolio-bg-11{background-image: url(../img/portfolio-bg-11.jpg);}


.logo a {
    color: #333;
}

.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: inline-block;
    position: relative;
}

.logo h1 span {
    font-size: 10px;
    position: absolute;
    right: -10px;
    top: 1px;
}

.menu-trigger span {
    display: block;
    height: 2px;
    background: #333;
    transfrom:.2s;
}

.menu-trigger span:nth-child(2) {
    margin: 7px 0;
}

span.menu-trigger {
    display: inline-block;
    width: 30px;
}

.menu-trigger:hover span:nth-child(1),.menu-trigger:hover span:nth-child(3) {
    margin: 0 5px;
}
.header-area {
    padding: 40px 30px;
}

.single-portfolio-item{
    float: left;
    width: 25%;
    height: 330px;
    background-size: 100%;
    background-position: center;
    display: table;
    background-color: #ddd;
    transition: .5s;
}

.porfolio-hover{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.porfolio-hover a {
    color: #000;
}

.porfolio-hover h2 {
    font-size: 24px;
}

.porfolio-hover p {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    opacity: .5;
}

.porfolio-hover p:hover {
    opacity: 1;
}

.single-portfolio-item:hover .porfolio-hover {
    opacity: 1;
    visibility: visible;
}

.single-portfolio-item:hover {
    background-size: 120%;
}

.single-portfolio-item.long {
    height: 660px;
}

.portfolio-list {
    overflow: hidden;
}

.single-portfolio-item.boxed {
    height: 660px;
    width: 49.5%;
}
.footer-area {
    padding: 80px 0;
    position: fixed;
    bottom: 0;
    width: 99.5%;
    z-index: 1;
    background: #613ad6;
    font-size: 18px;
    line-height: 2;
}



.footer-area, .footer-area a {
    color: #fff;
    line-height: 2;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area p, .footer-area ul {
    opacity: .8;
    font-size: 18px;
}


.portfolio-list {
    position: relative;
    z-index: 2;
    margin-bottom: 305px;
}
.header-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}

/*Offcanvas menu css*/

.coffcanvs-menu {
    position: fixed;
    right: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    z-index: 9;
    background: #fff;
    padding: 40px;
    transition: .4s;
}
.offcanvas-menu-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}
.offcanvas-menu-overlay.active{
    opacity: .2;
    visibility: visible;
}
.coffcanvs-menu.active{
    right: 0;
}
.menu-botton-section {
    position: absolute;
    left: 50px;
    bottom: 80px;
    max-width: 315px;
}

.canvas-boxed-text {
    background: #efebff;
    font-size: 14px;
    padding: 5px;
    font-weight: 700;
}

.social-icon a {
    color: #b6b3c1;
    font-size: 24px;
    display: inline-block;
    padding-right: 8px;
}

.social-icon {
    margin-top: 20px;
}

.coffcanvs-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 12px;
}

.coffcanvs-menu li  a {
    color: #613AD6;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
}
.menu-item-wrap {
    height: 100%;
    display: table;
    width: 100%;
}

.menu-item-inner {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 211px;
}
.menu-close {
    position: absolute;
    right: 0;
    height: 100%;
    border-left: 1px solid #F1F1F1;
    width: 50px;
    top: 0;
}

.menu-close i.fa {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    margin-top: -20px;
    cursor: pointer;
}
