/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}
.pricing-table-wrap {background-image: url(../img/background1.jpg);}


.pricing-table-wrap {
    background-size: cover;
    background-position: center;
    background-color: #333;
    color: #808081;
    text-align: center;
    padding-top:  40px;
    padding-bottom: 200px;
}

.pricing-table-wrap h2 {
    font-weight: 400;
    font-size: 50px;
}

.pricing-header {
    background: #2A2F3A;
    text-align: center;
    color: #4B4F59;
    position: relative;
    display: table;
    width: 100%;
    height: 250px;
}

.pricing-header-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}

.pricing-header h2 {
    color: #fff;
    font-size: 50px;
}

.special-pricing-text {
    position: absolute;
    background: #20242C;
    left: 0;
    width: 100%;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    top: -48px;
}

.pricing-content {
    font-size: 110%;
    padding: 50px;
}

p.pricing-sub-title {
    margin: 0;
    background: #f0f0f0;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.pricing-note {
    opacity: .6;
    font-size: 70%;
    margin-left: -10px;
    margin-top: 20px;
}


.pricing-list-wrap {
    margin-top: -110px;
}
.pricing-list-wrap .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
