/* Base css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
}
img {
    max-width:100%;
    height:auto;
}
body {
    font-family:'Ubuntu', sans-serif;
}


.slide-bg-1 { background-image: url(../img/background1.jpg);}
.slide-bg-2 { background-image: url(../img/background2.jpg);}
.slide-bg-3 { background-image: url(../img/background3.jpg);}


.header-area {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    padding: 20px;
    display: block;
}

.header-area a {
    color: #333;
}

.social-icon {
    border-left: 1px solid #fff;
    padding-left: 15px;
}

.social-icon a {
    padding: 25px 15px;
    display: inline-block;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 10px 0;
}

.logo span {
    color: #0AA8BD;
}

html,body {
    height: 100%;
}
.wellcome-area{
    position: relative;
    background:transparent;
    overflow: hidden;
}
.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}
.wellcome-area{
    height: 100%;
    position: relative;
    z-index: 2;

}

.wellcome-area-table {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.wellcome-area-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #333;
}

.wellcome-area-inner h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.wellcome-area-inner
 h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #fff;
}
.wellcome-area-inner p{
    text-transform: uppercase;
    color: #fff;
}
.video-play-btn {
    height: 40px;
    width: 40px;
    background: #fff;
    display: inline-block;
    line-height: 40px;
    color: #333;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 50%;
    padding-right: 0px;
}

.header-area.header-absulate-area {
    position: fixed;
    z-index: 3;
    width: 100%;
    border: none;
}
.header-area.header-absulate-area:after ,.social-icon:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px ;
    width: 100%;
    content: "";
    background: #fff;
    opacity: .3;
}
.header-area.header-absulate-area .social-icon {
    position: relative;
    border: none;
}
.header-area.header-absulate-area .social-icon:before{
    height: 100%;
    width: 1px;
} 
.header-area.header-absulate-area a {
    color: #fff;
}


.wellcome-area:after,.single-slide-item:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
} 
.wellcome-area-text{
    max-width: 800px;
    margin: 0 auto;
}

.homepage-slides ,.homepage-slides div {
    height: 100%;
}

.homepage-slides div.wellcome-area-inner, .homepage-slides div.wellcome-area-inner div, .homepage-slides  .owl-nav, .homepage-slides .owl-nav div, .homepage-slides  .owl-dots, .homepage-slides .owl-dots div {
    height: auto;
}

.single-slide-item {
    background-size: cover;
    background-position: center;
    background-color: #000;
}
.section-title h3 {
    color: #525252;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 35px;

}
/**Css owl Carousel Slide**/
.homepage-slides .owl-nav div {
    position: absolute;
    top: 50%;
    left: 40px;
    margin-top: -25px;
    background: #000;
    height: 50px;
    width: 50px;
    font-size: 30px;
    opacity: .5;
    border-radius: 500px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.homepage-slides .owl-nav .owl-next {
    left: auto;
    right: 40px;
}
.homepage-slides .owl-dots { 
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -25px;
}
.homepage-slides .owl-dots div {
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 500%;
    display: inline-block;
    margin-right: 12px; 
    text-align: center;
}
.homepage-slides .owl-dots div.active {
    background:#0076D7
}