/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus,buttom:focus { outline: 0 solid }
a:hover {text-decoration: none}
img{
	max-width:100%;
	height: auto;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-width:700;

}

body{
	font-family:'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px;
}

.service-box-bg-1{background-image:url(../img/buliding1.jpg);}
.service-box-bg-2{background-image:url(../img/service.jpg);}
.service-box-bg-3{background-image:url(../img/image_03.jpg);}
.service-box-bg-4{background-image:url(../img/smart.jpg);}

.service-box {
    height: 200px;
    border-radius: 5px;
    text-align: center;
    background-size: cover;
    padding: 15px;
    color: #fff;
    position: relative;
    z-index: 2;
}

a.boxed-btn {
    background: #FFCE43;
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.service-box-hover h3 {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 400;
}

.service-box-hover {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    transition: .2s;
}

.service-box:hover .service-box-hover {
    bottom: 30px;
}

.service-box:hover .boxed-btn {
    opacity: 1;
    visibility: visible;
}

.service-box:after {
    position: absolute;
    background: #000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    z-index: -1;
    opacity: .4;
}