/* Base css */
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
a:hover,
a:link,
a:visited{
    text-decoration:none;
}
a:visited{
    outline-style:none;
} 
a:focus,
input:focus,
textarea:focus,
button:focus{
    outline-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0 0 20px;
    font-weight:700;
    font-family: 'Vidaloka', serif;

}
img {
    max-width:100%;
    height:auto;
}
html,body{
    height: 100%;
    font-family: 'Vidaloka', serif;
    font-size: 15px;
    line-height: 1.8;

}

.section-padding{
    padding: 120px 0;
}

.section-bg-1{background-image: url(../img/bg-1.jpg);}
.section-bg-2{background-image: url(../img/bg-2.jpg);}


h2 {
    font-size: 40px;
    line-height: 1.8;
    margin-top: 75px;
}

body {
    font-size: 16px;
    line-height: 1.8;
}

.boxed-btn {
    background: #C7A05B;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    margin-top: 20px;
}
.section-bg{
    background-size: cover;
    background-color: #ddd;
    background-position: center; 
    height: 100%;
    width: 100%;
}
.bordered-img {
    background-size: cover;
    background-color: #ddd;
    background-position: center;
    height: 450px;
    margin-left: -60px;
    width: 450px;
    position: relative;
    z-index: 2;
}

.bordered-img:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    right: -20px;
    bottom: -20px;
    border: 1px solid #C7A05B;
    z-index: -1;
}

.bordered-img.left-side {
    margin-left: -100px;
    margin-right:0;
}